body{
    margin:0;
    background:#eceff3;
    font-family:Arial,Helvetica,sans-serif;
}

.contenedor{

    width:90%;
    max-width:450px;

    margin:30px auto;

    background:white;

    border-radius:20px;

    padding:25px;

    text-align:center;

    box-shadow:0 15px 35px rgba(0,0,0,.15);

}

.logo{

    width:140px;

}

h1{

    color:#222;

    margin-bottom:25px;

}

input{

    width:100%;

    padding:18px;

    font-size:28px;

    text-align:center;

    border-radius:12px;

    border:2px solid #198754;

    box-sizing:border-box;

}
.tarjeta{

    margin-top:25px;

    color:white;

    border-radius:15px;

    padding:20px;

    transition:0.3s;

}

.encontrado{

    background:#198754;

}

.no-encontrado{

    background:#dc3545;

}
    padding:20px;

}

#nombre{

    font-size:30px;

    margin-bottom:15px;

}

#club,#localidad{

    font-size:22px;

}

.oculto{

    display:none;

}